<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #000000;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/user">
            <img src="assets/tweet-white.png" alt="tweet-logo" width="40" height="40"
                class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" routerLink="/user"><strong>TweetApp</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/forgot">Update Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active logout-btn" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<app-logout></app-logout>

<div class="container pt-4">
    <div class="row">
        <div class="border-end col-3 text-center pt-2">
            <img src="assets/man.png" width="92px" height="92px" class="rounded-circle pt-2" alt="Twitter Profile">
            <!-- If gender of user is male then man; else girl -->
            <div class="text-justify">
                <p class="fs-3 pt-3 me-2 text-wrap">{{userFirstName}} {{userLastName}}</p>
            </div>
        </div>

        <div class="text-dark col-9">
            <hr style="height:2px; border-width:0; color:gray; background-color:gray">
            <div *ngIf="!emptyUsers">
                <div class="py-2 my-2" *ngFor="let user of users">
                    <div class="container py-2 pt-3 border border-dark rounded">
                        <!-- tweet Header -->
                        <div class="fs-6">
                            <fa-icon class="fa-lg" [icon]="faUser"></fa-icon>
                            <!-- Add user name -->
                            <div class="d-inline-block fw-bold">
                                <span class="px-2">{{user.firstName}} {{user.lastName}}</span>
                            </div>
                            <div class="ps-3 ms-5 me-2 mt-2 fs-6">
                                <fa-icon class="fa-lg" [icon]="faEnvelope"></fa-icon> - {{user.emailId}}
                            </div>
                            <div class="ps-3 ms-5 me-2 mt-2">
                                <fa-icon class="fa-lg" [icon]="faMobile"></fa-icon>  - {{user.contactNumber}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center pt-5 mt-2 fs-3" *ngIf="emptyUsers">
                No Users Present. <fa-icon style="color:red;" [icon]="faHeartCrack"></fa-icon>
            </div>
        </div>
    </div>
</div>