<div class="container pt-3 border border-dark rounded">
    <div class="fs-6 fw-bold">
        <fa-icon class="tweet-icon" [icon]="faTwitter"></fa-icon>
        <!-- Add user name -->
        <span class="px-2">{{user.firstName}} {{user.lastName}}</span>
        <span class="text-muted d-inline-block fs-6">{{tweet.email}}</span>
        <span class="float-end timestamp">| {{tweet.timestamp | date}}</span>
    </div>
    <div class="text-wrap py-2 ps-3 ms-5 me-2 mt-2 blockquote">
        {{tweet.body}}
    </div>
    <div class="ps-5 d-flex flex-row bd-highlight mb-3">
        <div class="p-3 bd-highlight">
            <fa-icon [class]="likeClass" (mouseover)="likeClass='fa-lg like'" (mouseout)="likeClass=''" class="icon"
                [icon]="faLikeEmpty"></fa-icon>
        </div>
        <div class="p-3 ps-5 bd-highlight">
            <fa-icon [class]="retweetClass" (mouseover)="retweetClass='fa-lg retweet'" (mouseout)="retweetClass=''"
                class="icon" [icon]="faRetweet"></fa-icon>
        </div>
    </div>
</div>