<div class="container pt-3 border border-dark rounded">
    <!-- tweet Header -->
    <div class="fs-6 fw-bold">
        <fa-icon class="fa-lg" [icon]="faTwitter"></fa-icon>
        <!-- Add user name -->
        <span class="px-2">{{user.firstName}} {{user.lastName}}</span>
        <span class="text-muted d-inline-block fs-6">{{tweet.email}}</span>
        <span class="float-end timestamp">| {{tweet.timestamp | date:'dd-MMM-yy, hh:mm a'}}</span>
    </div>
    <!-- If else blocks for update tweet -->
    <!-- Main tweet -->
    <div class="text-wrap py-2 ps-3 ms-5 me-2 mt-2 blockquote" *ngIf="!isUpdate else input">
        {{tweet.body}}
    </div>
    <!-- textarea for tweet -->
    <ng-template class="py-2 ps-3 ms-5 me-2 mt-2" #input>
        <div class="p-auto">
            <form #f="ngForm" (ngSubmit)="updateTweet(f)">
                <div class="mt-3 mx-3">
                    <textarea class="form-control" placeholder={{tweet.body}} name="body" #body="ngModel" ngModel
                        (keydown)="keydown(body)" id="tweet" style="height: 100px" minlength="1"
                        maxlength="144"></textarea>
                </div>
                <div class="mt-3 mx-5 d-inline-block text-muted">
                    <p>{{tweetLength}}/144</p>
                </div>
                <div class="mt-3 float-end">
                    <button class="btn btn-secondary-outline" (click)="toggleUpdate()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </ng-template>
    <!-- Buttons -->
    <div class="ps-5 d-flex flex-row bd-highlight mb-3">
        <!-- Like -->
        <div class="p-3 bd-highlight">
            <fa-icon [class]="likeClass" (mouseover)="likeClass='fa-lg like'" (mouseout)="likeClass=''"
                (click)="addLike()" class="icon" [icon]="faLikeEmpty" *ngIf="tweet.likes==0"></fa-icon>
            <fa-icon [class]="likeClass" (mouseover)="likeClass='fa-lg like'" (mouseout)="likeClass=''"
                (click)="addLike()" class="liked-tweet" [icon]="faLike" *ngIf="tweet.likes>0"></fa-icon>
            <span class="ms-2" *ngIf="tweet.likes>0">{{tweet.likes}}</span>
        </div>
        <!-- Reply -->
        <div class="p-3 ps-5 bd-highlight">
            <fa-icon [class]="replyClass" (mouseover)="replyClass='fa-lg reply'" (mouseout)="replyClass=''" class="icon"
                [icon]="faReply" (click)="toggleReply()"></fa-icon>
        </div>
        <!-- Update -->
        <div class="p-3 ps-5 bd-highlight" *ngIf="tweet.email == loggedInUser">
            <fa-icon [class]="updateClass" (mouseover)="updateClass='fa-lg update'" (mouseout)="updateClass=''"
                class="icon" [icon]="faUpdate" (click)="toggleUpdate()"></fa-icon>
        </div>
        <!-- Delete -->
        <div class="p-3 ps-5 bd-highlight" *ngIf="tweet.email == loggedInUser">
            <fa-icon [class]="deleteClass" (mouseover)="deleteClass='fa-lg delete'" (mouseout)="deleteClass=''"
                (click)="deleteTweet()" class="icon" [icon]="faDelete"></fa-icon>
        </div>
    </div>
    <div class="ps-5">
        <div class="ps-3">
            <div *ngFor="let reply of tweet.replies">
                <app-reply [reply]="reply"></app-reply>
            </div>
        </div>
        <div class="pt-2 pb-1" *ngIf="isReplyBox">
            <form #r="ngForm" (ngSubmit)="replyTweet(r)">
                <div class="input-group mb-3">
                    <input type="text" placeholder="What's your thought?" class="form-control" name="replyBody"
                        #replyBody="ngModel" width="60%" ngModel aria-label="Reply" aria-describedby="reply-btn">
                    <button type="submit" class="btn btn-outline-primary" id="reply-btn">Post</button>
                </div>
            </form>
        </div>
        <div class="pb-2"></div>
    </div>
</div>