fa-icon.tweet-icon {
    /* border-color: papayawhip; */
    background-color: papayawhip;
    border-radius: 50%;
    padding: 1em;
    width: 15px;
    height: 15px;
    color: #1DA1F2;
}

.like, .reply, .delete, .update {
    cursor: pointer;    
}

.timestamp {
    font-size: 0.8rem;
}

fa-icon.likedTweeet {
    color: rgb(222, 37, 37);
}

textarea {
	resize: none;
}