fa-icon.tweet-icon {
    /* border-color: papayawhip; */
    background-color: papayawhip;
    border-radius: 50%;
    padding: 1em;
    width: 15px;
    height: 15px;
    color: #1DA1F2;
}

.like, .retweet {
    cursor: pointer;    
}

.timestamp {
    font-size: 0.8rem;
}