<div class="container pt-2">
    <div class="fs-6 fw-bold">
        <!-- {{}} -->
        <fa-icon class="tweet-icon" [icon]="faTwitter"></fa-icon>  User Name <span class="text-muted d-inline-block">sample@xyz.com</span>
    </div>
    <div class="text-wrap py-2 ps-3 ms-5 me-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In aspernatur dolorum nobis voluptatibus assumenda.
        Dignissimos eos, maxime sed assumenda incidunt natus quae laboriosam sit dicta excepturi libero suscipit,
        pariatur optio.
    </div>
</div>