<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">
			<img src="assets/tweet-white.png" alt="tweet-logo" width="40" height="40"
				class="d-inline-block align-text-top">
		</a>
		<a class="navbar-brand" routerLink="/"><strong>TweetApp</strong></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link active" aria-current="page" routerLink="/logout">Logout</a>
			</div>
		</div>
	</div>
</nav>

<div class="container body-container">
	<div class="alert alert-success alert-dismissible fade show" *ngIf="isUpdatePasswordSuccess===true" role="alert">
		Password is updated successfully!
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-danger alert-dismissible fade show"
		*ngIf="isUpdatePasswordSuccess!==true && isFormSubmitted===true" role="alert">
		<strong>Error!</strong> Please enter valid details.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<form class="row g-3" #f="ngForm" (ngSubmit)="onSubmit(f)">
		<h1 class="h3 mb-4 fw-normal">Forgot Password</h1>
		<!-- Email -->
		<div class="col-md-6">
			<label for="inputEmail" class="form-label">Email</label>
			<input type="email" class="form-control" name="emailId" id="inputEmail" placeholder="name@domain.com"
				ngModel #emailId="ngModel" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" required email>
		</div>
		<!-- Date Of Birth -->
		<div class="col-md-6">
			<div class="form-label">Date of Birth</div>
			<div class="input-group">
				<input class="form-control" placeholder="yyyy-mm-dd" name="dateOfBirth" #c2="ngModel" ngModel
					ngbDatepicker #dateOfBirth="ngbDatepicker">
				<button class="btn btn-outline-secondary bi bi-calendar calendar" (click)="dateOfBirth.toggle()"
					type="button">
					<fa-icon [icon]="faCalendar"></fa-icon>
				</button>
			</div>
		</div>
		<!-- Password -->
		<div class="col-md-6">
			<label for="inputPassword" class="form-label">Password</label>
			<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password"
				pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!#%*?&])[A-Za-z\d@$!%*?&]{8,}$" ngModel
				#password="ngModel" min="8" required>
		</div>
		<!-- Confirm Password -->
		<div class="col-md-6">
			<label for="inputNewPassword" class="form-label">New Password</label>
			<input type="password" class="form-control" name="newPassword" id="inputNewPassword"
				pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!#%*?&])[A-Za-z\d@$!%*#?&]{8,}$"
				placeholder="Retype Password" ngModel #newPassword="ngModel" min="8" required>
		</div>
		<div class="col-12 pt-3 center">
			<button type="submit" class="btn btn-dark" [disabled]="!f.valid">Update Password</button>
		</div>
	</form>
</div>