<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #000000;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/user">
            <img src="assets/tweet-white.png" alt="tweet-logo" width="40" height="40"
                class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" routerLink="/user"><strong>TweetApp</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/users">All Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/forgot">Update Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active logout-btn" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Logout</a>
                </li>
            </ul>
            <form class="d-flex" #f="ngForm" (ngSubmit)="searchUser(f)">
                <input class="form-control me-2 rounded-pill border border-primary" name="email" type="search"
                    placeholder="Search" aria-label="Search" ngModel>
                <button class="btn btn-outline-primary" type="submit">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </button>
            </form>
        </div>
    </div>
</nav>

<!-- Modal -->
<app-logout></app-logout>

<div class="container pt-4">
    <div class="row">
        <div class="border-end col-3 text-center pt-2">
            <img src="assets/man.png" width="92px" height="92px" class="rounded-circle pt-2" alt="Twitter Profile">
            <!-- If gender of user is male then man; else girl -->
            <div class="text-justify">
                <p class="fs-3 pt-3 me-2 text-wrap">{{userFirstName}} {{userLastName}}</p>
            </div>
        </div>

        <div class="text-dark col-9">
            <div class="p-auto">
                <form #g="ngForm" (ngSubmit)="postTweet(g)">
                    <div class="form-floating mt-3 mx-3">
                        <textarea class="form-control" placeholder="What's on your mind?" name="body" #body="ngModel"
                            ngModel (keydown)="keyup(body)" id="tweet" style="height: 100px" minlength="1"
                            maxlength="144"></textarea>
                        <label for="tweet">What's happening?</label>
                    </div>
                    <div class="mt-3 mx-5 d-inline-block text-muted">
                        <p>{{tweetLength}}/144</p>
                    </div>
                    <div class="mt-3 float-end">
                        <button type="submit" class="btn btn-primary" [disabled]="!g.valid">Tweet</button>
                    </div>
                </form>
            </div>
            <hr style="height:2px; border-width:0; color:gray; background-color:gray">
            <div *ngIf="!emptyTweets">
                <div class="py-2 my-2" *ngFor="let tweet of tweets.slice().reverse()">
                    <app-tweet [tweet]="tweet"></app-tweet>
                </div>
            </div>
            <div class="text-center pt-5 mt-2 fs-3" *ngIf="emptyTweets">
                No Tweets Present! <fa-icon style="color:red;" [icon]="faHeartCrack"></fa-icon>
            </div>
        </div>
    </div>
</div>